.active {
  filter: drop-shadow(1px 1px 3px white);
  text-decoration: underline;
  color: white;
}

.active:hover {
  color: aquamarine;
}

.inactive:hover {
  color: aquamarine;
}

.inactive {
  text-decoration: none;
  color: white
}